{% extends "base.html" %}
{% load i18n %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <h1>Dashboard</h1>
  {% with total_contents_created=request.user.contents_created.count %}
    <p>Bookmark: {{total_contents_created}}</p>
  {% endwith %}

  <p>{% trans 'Drag the following button to your bookmarks toolbar to bookmark images from other websites → ' %}<a href="javascript:{% include 'bookmarklet_launcher.js' %}" class='button'>Bookmark it</a></p>
  <p>{% trans 'Welcome to your dashboard. You can ' %}<a href="{% url 'edit' %}">{% trans 'edit your profile' %}</a>{% trans ' or ' %} <a href="{% url 'password_change' %}">{% trans 'change your password' %}</a>{% trans '.' %}</p>

{% endblock %}
